# GigFlow - Backend-Side Environment Variables

# The active port for the Express Server (Default is 5000)
PORT=5000

# The runtime mode for Node environment (development | production)
NODE_ENV=development

# The connection string for your MongoDB Database instance
# Local database URI: mongodb://localhost:27017/gigflow
# Docker compose URI: mongodb://mongodb:27017/gigflow
# Cloud MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/gigflow
MONGO_URI=mongodb://localhost:27017/gigflow

# A super secure cryptographically sound key for signing JSON Web Tokens
JWT_SECRET=your_super_secret_jwt_hash_key_1357924680

# The base URL of the client application allowed to interact with the API (CORS origin policy)
# Local Dev Default: http://localhost:3000 (React client default port)
CLIENT_URL=http://localhost:3000
